[tool.poetry]
name = "piculet"
version = "2.0.0.dev1"
description = "XML/HTML scraper using XPath queries."
readme = "README.rst"

authors = ["H. Turgut Uyar <uyar@tekir.org>"]
license = "LGPL-3.0+"

homepage = "https://piculet.tekir.org/"
documentation = "https://piculet.tekir.org/"
repository = "https://github.com/uyar/piculet"

keywords = ["xml", "html", "xpath", "scrape"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing :: Markup :: HTML",
    "Topic :: Text Processing :: Markup :: XML",
    "Topic :: Utilities"
]

include = [
    "HISTORY.rst",
    "*.pyi",
    "tests/**/*.py",
    "docs/source/**/*",
    "docs/Makefile"
]

[tool.poetry.dependencies]
python = "^3.5"
strictyaml = {version = "^1.0", optional = true}

[tool.poetry.extras]
yaml = ["strictyaml"]

[tool.poetry.dev-dependencies]
pytest = "^3.4"
pytest-cov = "^2.6"
flake8 = "^3.6"
flake8-isort = "^2.6"
flake8-docstrings = "^1.3"
doc8 = "^0.8.0"
sphinx = "^1.8"
sphinx_rtd_theme = "^0.4.2"
pygenstub = "^1.4"
pathstring = "^1.0"

[tool.poetry.scripts]
piculet = "piculet:main"

[tool.black]
line-length = 96

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{37,36,35}{,-lxml}, pypy{36,35}{,-lxml}, py35-yaml, style, docs
isolated_build = True

[testenv]
whitelist_externals = poetry
deps =
    lxml: lxml
    yaml: strictyaml
commands =
    poetry install -v
    {posargs:pytest}

[testenv:pypy36]
basepython = pypy3.6

[testenv:pypy36-lxml]
basepython = pypy3.6

[testenv:style]
commands =
    poetry install -v
    {posargs:flake8} piculet.py

[testenv:docs]
changedir = docs/
commands =
    poetry install -v
    sphinx-build -b html source/ build/html/
"""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
