[project]
name = "piculet"
version = "2.0.0a2"
description = "XML/HTML scraper using XPath queries."
readme = "README.rst"

authors = [{name = "H. Turgut Uyar", email = "uyar@tekir.org"}]
license = {file = "LICENSE.txt"}

keywords = ["xml", "html", "xpath", "scrape"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing :: Markup :: HTML",
    "Topic :: Text Processing :: Markup :: XML",
    "Topic :: Utilities",
]

requires-python = "~=3.8"

[project.optional-dependencies]
tests = [
    "pytest",
    "pytest-cov",
]
types = [
    "mypy",
]
style = [
    "flake8",
    "flake8-isort",
]
docs = [
    "sphinx",
    "sphinx-rtd-theme",
]
dev = [
    "piculet[tests,types,style,docs]",
    "tox",
    "build",
]

[project.scripts]
piculet = "piculet:main"

[project.urls]
homepage = "https://tekir.org/piculet/"
documentation = "https://piculet.readthedocs.io/"
repository = "https://github.com/uyar/piculet"

[tool.setuptools]
py-modules = ["piculet"]

[tool.coverage.run]
source = ["piculet"]

[tool.coverage.report]
show_missing = true
skip_covered = true
exclude_lines = [
    "if __name__ == \"__main__\":",
    "if _LXML_AVAILABLE",
]

[tool.mypy]
ignore_missing_imports = true

[tool.isort]
lines_after_imports = 2
multi_line_output = 2
known_test = "pytest,unittest"
sections = "TEST,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{38,39,310,311}{,-lxml}, pypy{38,39}{,-lxml}, types, style, docs
isolated_build = True

[testenv]
extras = tests
deps =
    lxml: lxml
commands =
    pytest tests

[testenv:coverage]
extras = tests
commands =
    pytest tests --cov

[testenv:types]
extras = types
commands =
    mypy piculet.py

[testenv:style]
extras = style
commands =
    flake8 piculet.py

[testenv:docs]
extras = docs
changedir = docs/
commands =
    sphinx-build -b html source/ build/html/
"""

[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"
